<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>Team 29 Project View - View Project</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <header>
            <nav>
                <a href="{{ url_for('index') }}"> Home</a> ||
                <a href="{{ url_for('all_projects') }}">All Projects</a> ||
                <a href="{{ url_for('get_projects') }}"> Projects</a> ||
                <a href="{{ url_for('all_users') }}">All Users</a> ||
                <a href="{{ url_for('view_account') }}">Account</a> ||
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        </header>
    </head>
    <body>
        <br>
        <h1>Account Details</h1>
        <table>
            <tr> 
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
            </tr>
        </table>
    </body>
</html>