<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">

        <title>Team 29 Project View - View Project</title>

        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <header>
            <nav>
                {% if user %}
                <a href="{{ url_for('index') }}"> Home</a> ||
                <a href="{{ url_for('all_projects') }}">All Projects</a> ||
                <a href="{{ url_for('get_projects') }}"> Projects</a> ||
                <a href="{{ url_for('all_users') }}">All Users</a> ||
                <a href="{{ url_for('view_account') }}">Account</a> ||
                <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <a href="{{ url_for('index') }}"> Home</a> ||
                <a href="{{ url_for('login') }}">Login</a> ||
                <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </nav>
        </header>
    </head>

    <body>
        <br>
        <h1>Welcome {{user}} to the Project Viewer!</h1>
        <h2>Use this site to maintain and organize your projects</h2>
        {% if user %}
        <td>
            <form action="{{ url_for('all_projects') }}">
                <input type="submit" value="All Projects">
            </form>
        </td>
        <br>
        <td>
            <form action="{{ url_for('get_projects') }}">
                <input type="submit" value="My Projects">
            </form>
        </td>
        <br>
        <td>
            <form action="{{ url_for('new_project') }}">
                <input type="submit" value="Create New Project">
            </form>
        </td>
        {% else %}
        <td>
            <form action="{{ url_for('login') }}">
                <input type="submit" value="Login">
            </form>
        </td>
        <br>
        <td>
            <form action="{{ url_for('register') }}">
                <input type="submit" value="Register">
            </form>
        </td>
        {% endif %}
    </body>
</html>