<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>Team 29 Project View - View Project</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        
        <h1>Welcome {{user.name}} to the Project Viewer</h1>
        <h2>Use this site to maintain and organize your notes.</h2>

        <nav> <a href={{ url_for('get_projects') }}> My Projects </a> </nav>
        <h3>Course notes</h3>

        <h3>To Do</h3>

        <h3>Work notes</h3>

    </body>
</html>