<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>Team 29 Project Manager - View your Projects</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <nav> 
            <a href={{ url_for('index') }}> Home </a>
        </nav>
        <h1>Welcome {{user.name}} to the Project Viewer</h1>

        <h2>Project Lists</h2>

        <table>
            <tr>
                <th>Title</th>
                <th>Deadline</th>
            </tr>
            {% for key, value in projects.items() %}
            <tr>
                <td><a href="{{ url_for('get_project', project_id=key) }}">{{ value.title }}</a></td>
                <td>{{ value.deadline }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>