<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>Team 29 Project Manager - View your Projects</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <header>
            <nav>
                <a href="{{ url_for('index') }}"> Home</a> ||
                <a href="{{ url_for('all_projects') }}">All Projects</a> ||
                <a href="{{ url_for('get_projects') }}"> Projects</a> ||
                <a href="{{ url_for('all_users') }}">All Users</a> ||
                <a href="{{ url_for('view_account') }}">Account</a> ||
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>

        </header>
    </head>
    <body>
        <br>
        <h1>My Projects</h1>
        <h2>Click a project title to view a project</h2>

        <table>
            <tr>
                <th>Title</th>
                <th>Deadline</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for value in projects %}
            <tr>
                <td><a href="{{ url_for('get_project', project_id=value.id) }}">{{ value.title }}</a></td>
                <td>{{ value.deadline }}</td>
                <td>{{ value.text }}</td>
                <td>
                    <form action="{{ url_for('update_project', project_id=value.id) }}">
                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('delete_project', project_id=value.id) }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>

            </tr>
            {% endfor %}
        </table>
        <br>
        <td>
            <form action="{{ url_for('new_project') }}">
                <input type="submit" value="Add">
            </form>
        </td>
    </body>
</html>